fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
lightgbm
scikit-learn
shap
apscheduler
pandas
numpy
python-dotenv
httpx
pydantic[email]
bcrypt==4.0.1